{% extends 'base.html.twig' %}

{% block title %}
    Cook Book
{% endblock %}

{% block body %}

	<h1>hi</h1>
	<div>hello there</div>
	<div>{{testVar}}</div>

	<div>
		<h2>
			{{stuffArr.foo|upper}}
		</h2>
	</div>

{% endblock %}
