{% extends 'base.html.twig' %}

{% block title %}
	{{ recipe.name }}
{% endblock %}

{% block body %}

	<h1>hi</h1>
	<div>hello there</div>

	<div>
		{{ recipe.name }}
		{{ recipe.recipe }}
	</div>

{% endblock %}
